<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sanitizer Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-nowrap">
        Sanitized html
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="This is the page with sanitized the html"
                         [contentOnModal]="contentOnModal">
  </app-explore-container>

  <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(contentOnPage)"></div>

  <section>
    <ion-label>An 'inline' Modal reference seems to work as expected</ion-label>
    <ion-button id="modal-trigger" color="tertiary">Inline Modal</ion-button>
  <ion-modal trigger="modal-trigger">
    <ng-template>
      <app-target-modal-component [targetMessage]="contentOnModal" ></app-target-modal-component>
    </ng-template>
  </ion-modal>
  </section>
</ion-content>
