<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sanitizer Page with inject
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-nowrap">
        Sanitized html
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="This is the page with sanitized the html"
                         [contentOnModal]="contentOnModal">
  </app-explore-container>

  <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(contentOnPage)"></div>

</ion-content>
